----------------------------------------------------------------------
-- {{ inventory_hostname }} Environment debug created {{ ansible_date_time.date}} {{ ansible_date_time.time}}
----------------------------------------------------------------------
{{ hostvars | to_nice_json }}

